.navbar {
  background-color: white;
  color: #333;
  padding: 3rem 2rem;
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s ease;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  font-family: 'Sora', sans-serif;
}

.navbar-menu {
  display: flex;
  gap: 2rem;
}

.navbar-item {
  color: #333;
  text-decoration: none;
  position: relative;
  transition: all 0.5s ease;
}

.navbar-item::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333;
  transition: width 0.3s;
}

.navbar-item:hover::after {
  width: 100%;
}

.navbar-item:hover {
  color: #000000;
  transform: scale(1.1);
}
